.dwrui-tree {
    color: rgba(0,0,0,0.65);
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.dwrui-tree .dwrui-subtree {
    margin: 0;
    padding: 0 0 0 18px;
    list-style: none;
}
.dwrui-tree .dwrui-tree-node {
    position: relative;
    margin: 0;
    padding: 4px 0;
    white-space: nowrap;
    list-style: none;
    outline: 0;
}
.dwrui-tree .dwrui-tree-node:not(:last-child)::before {
    position: absolute;
    left: 12px;
    width: 1px;
    height: 100%;
    height: calc(100% - 22px);
    margin: 22px 0 0;
    border-left: 1px solid #d9d9d9;
    content: ' ';
}
.dwrui-tree .dwrui-tree-node .dwrui-tree-asset {
    cursor: pointer;
    user-select: none;
}
.dwrui-tree-node .dwrui-tree-switch {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0;
    line-height: 24px;
    text-align: center;
    vertical-align: top;
    border: 0 none;
    outline: none;
    cursor: pointer;
}
.dwrui-tree-switch .dwrui-tree-switch-icon {
    display: inline-block;
    font-size: 12px;
    text-align: center;
    vertical-align: -2px;
}
.dwrui-tree-directory .dwrui-tree-directory-icon,
.dwrui-tree-file .dwrui-tree-file-icon {
    display: inline-block;
    font-size: 12px;
    text-align: center;
    vertical-align: -4px;
}
.dwrui-tree-node .dwrui-tree-node-text {
    display: inline-block;
    height: 24px;
    margin: 0;
    padding: 0 5px;
    color: rgba(0,0,0,0.65);
    line-height: 24px;
    text-decoration: none;
    vertical-align: top;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.dwrui-tree-node .dwrui-tree-switch-close svg {
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.dwrui-tree-node .dwrui-tree-switch-open svg {
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}
.dwrui-tree .dwrui-tree-switch-icon {
    -webkit-transform: scale(.83333333) rotate(0deg);
    -ms-transform: scale(.83333333) rotate(0deg);
    transform: scale(.83333333) rotate(0deg);
}
.dwrui-tree .dwrui-tree-switch-icon {
    -webkit-transform: scale(.83333333) rotate(0deg);
    -ms-transform: scale(.83333333) rotate(0deg);
    transform: scale(.83333333) rotate(0deg);
}
/*.dwrui-tree-node .dwrui-tree-node-text:hover {*/
/*    background-color: #efefef;*/
/*}*/
.dwrui-tree-node .dwrui-tree-node-selected {
    background-color: #efefef;
}
.dwrui-tree .dwrui-tree-node-open {
    display: block;
}
.dwrui-tree .dwrui-tree-node-close {
    display: none;
}


.dwrui-tree .dwrui-tree-checkbox {
    height: 24px;
    color: rgba(0,0,0,0.65);
    font-size: 14px;
    list-style: none;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
    margin: 0;
    padding: 3px 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.dwrui-tree-checkbox .dwrui-tree-checkbox-inner {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border-collapse: separate;
    -webkit-transition: all .3s;
    transition: all .3s;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    /*border: 1px solid #1890ff;*/
    /*background-color: #1890ff;*/
}
.dwrui-tree-checkbox-checked::after {
    position: absolute;
    top: 16.67%;
    left: 0;
    width: 100%;
    height: 66.67%;
    border: 1px solid #1890ff;
    border-radius: 2px;
    visibility: hidden;
    -webkit-animation: antCheckboxEffect .36s ease-in-out;
    animation: antCheckboxEffect .36s ease-in-out;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    content: '';
}
.dwrui-tree-checkbox-inner::after {
    position: absolute;
    top: 48%;
    left: 21%;
    display: table;
    width: 4px;
    height: 8px;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    -webkit-transform: rotate(45deg) scale(1) translate(-50%, -50%);
    -ms-transform: rotate(45deg) scale(1) translate(-50%, -50%);
    transform: rotate(45deg) scale(1) translate(-50%, -50%);
    opacity: 1;
    -webkit-transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
    transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
    content: ' ';
}
.dwrui-tree-checkbox-checked .dwrui-tree-checkbox-inner {
    background-color: #1890ff;
    border-color: #1890ff;
}
.dwrui-tree-checkbox-halfchecked .dwrui-tree-checkbox-inner {
    background-color: #fff;
    border-color: #d9d9d9;
}
.dwrui-tree-checkbox-halfchecked .dwrui-tree-checkbox-inner::after {
    top: 49%;
    left: 49%;
    width: 8px;
    height: 8px;
    background-color: #1890ff;
    border: 0;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    content: ' ';
}
.dwrui-tree-node-loading {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0;
    line-height: 24px;
    text-align: center;
    vertical-align: top;
    border: 0 none;
    outline: none;
    cursor: pointer;
}
.dwrui-tree-node-loading .dwrui-tree-node-loading-icon {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 24px;
    height: 24px;
    color: #1890ff;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}
.dwrui-tree-node-loading-icon svg {
    display: inline-block;
    -webkit-animation: loadingCircle 1s infinite linear;
    animation: loadingCircle 1s infinite linear;
}
@-webkit-keyframes loadingCircle {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@keyframes loadingCircle {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
