.dwrui-grid {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  background-color: #FFFFFF;
}
.dwrui-grid-viewport {
  overflow: hidden;
}
.dwrui-grid-header {
  cursor: pointer;
  zoom: 1;
  padding: 1px 0 0 0;
  /*background-color: #fafafa;*/
  /*background-image: -moz-linear-gradient(top,#fff,#f2f2f2);*/
  /*background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));*/
  /*background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);*/
  /*background-image: -o-linear-gradient(top,#fff,#f2f2f2);*/
  /*background-image: linear-gradient(to bottom,#fff,#f2f2f2);*/
  /*background-repeat: repeat-x;*/
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  /*border-bottom: 1px solid #d4d4d4;*/
  /*-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);*/
  /*-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);*/
  /*box-shadow: 0 1px 4px rgba(0,0,0,0.065);*/
}
.dwrui-grid-header-inner {
  overflow: hidden;
  zoom: 1;
  position: relative;
}
.dwrui-grid-header-offset {
  text-align: left;
  /*padding-left: 1px;
  width: 10000px;*/
}
.dwrui-grid table {
  width: 100%;
  border-collapse: separate;
  table-layout: fixed;
}
.dwrui-grid-hd {
  /* text-align: center; */
  text-align: left;
}
.dwrui-grid-hd-row td {
  line-height: 20px;
  vertical-align: middle;
  /* border-right: 1px solid #CCCCCC; */
  /*border-right: 1px solid #d5d5d5;*/
  /*border-left: 1px solid #fff;*/
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}
.dwrui-grid-hd-row td:last-child {
  border-right: 0;
}
.dwrui-grid-hd-row td,.dwrui-grid-row td,.dwrui-grid-summary-row td {
  -moz-outline: none;
  outline: none;
  -moz-user-focus: normal;
}
.dwrui-grid-row td,.dwrui-grid-summary-row td {
  vertical-align: top;
  /*padding-left: 1px;*/
  /*padding-right: 1px;*/
  /*border-right: 1px dotted #ebebeb;*/
  /* border-right: 1px solid #DDDDDD; */
  line-height: 16px;
  /*
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: ignore;
  */
  /*border-right: 1px solid #d5d5d5;*/
  /*border-left: 1px solid #fff;*/
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}
.dwrui-grid-row td:last-child,.dwrui-grid-summary-row td:last-child {
  border-right: 0;
}
.dwrui-grid-cell-inner,.dwrui-grid-hd-inner {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding: 0 10px;
  height: 46px;
  line-height: 46px;
  white-space: nowrap;
  font-size: 14px;
  color: #333;
}
.dwrui-grid-row-table .dwrui-grid-cell-inner {
  /*font-size: 12px;*/
}
.dwrui-grid-hd-inner {
  height: 100%;
  position: relative;
  cursor: default;
  font-size: 14px;
  /* color: #000; */
  color: #333;
  /*text-shadow: 0px 1px 1px #FFF;*/
}
.dwrui-grid-hd-checker {
  /*background: url("../images/default/grid/grid-checkbox.gif") no-repeat scroll 10px 7px transparent;*/
}
.dwrui-grid-row-selected {
  color: #333 !important;
  background-color: #f5f5f5;
}
.dwrui-grid-hd-selected .dwrui-grid-hd-checker, .dwrui-grid-row-selected .dwrui-grid-hd-checker {
  background-position: -15px 8px;
}
.dwrui-grid .dwrui-grid-sort-icon {
  display: inline-block;
  height: 4px;
  width: 13px;
  display: none;
}
.dwrui-grid-sort-asc .dwrui-grid-sort-icon {
  /* visibility: visible; */
  display: block;
  /*background-image: url("../images/default/grid/sort_asc.gif");*/
}
.dwrui-grid-sort-desc .dwrui-grid-sort-icon {
  /* visibility: visible; */
  display: block;
  /*background-image: url("../images/default/grid/sort_desc.gif");*/
}
.dwrui-grid-body .dwrui-grid-td-numberer {
}
.dwrui-grid-body .dwrui-grid-td-tree {
  cursor: pointer;
}
.dwrui-grid-body .dwrui-grid-td-tree .dwrui-grid-col-tree {
  /*background: url("../images/default/grid/tree_close.gif") 5px center no-repeat;*/
}
.dwrui-grid-body .dwrui-grid-td-tree .dwrui-menu-item-active {
  /*background: url("../images/default/grid/tree_open.gif") 5px center no-repeat;*/
}
.dwrui-grid-scroller {
  overflow: auto;
  zoom: 1;
  position: relative;
}
.dwrui-grid-body {
  zoom: 1;
}
.dwrui-grid-row {
  width: 100%;
  border-bottom: 1px solid #ddd;
  /*border-left: 1px solid #EDEDED;
  border-right: 1px solid #EDEDED;*/
  cursor: default;
}
.dwrui-grid-row .dwrui-grid-row-child {
  padding: 0 10px;
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  background: #FFFFFF;
  display: none;
}
.dwrui-grid-row .dwrui-grid-row-child .button {
  display: none;
}
.dwrui-grid-row .dwrui-grid-row-child .dwrui-form-label {
  width: auto;
  text-align: right;
}
.dwrui-grid-row .dwrui-grid-row-child .dwrui-form {
  margin: 0;
}
.dwrui-grid-row:last-child {
  border-bottom: none;
}
.dwrui-grid-row-over {
  background: #EDEDED;
}
.dwrui-grid-focus {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  line-height: 1px;
  font-size: 1px;
  -moz-outline: 0 none;
  outline: 0 none;
  /*
  -moz-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: ignore;
  */
}
.dwrui-grid-resize-marker {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  -moz-opacity: 0.5;
  opacity: .50;
  border: 0 none;
  z-index: 7;
  display: none;
  /*background: url(../images/default/loading/loading1.gif) center center no-repeat;*/
}
.dwrui-grid-hd-scrolloffset {
  padding-right: 17px;
}
.dwrui-grid-resize-proxy {
  width: 1px;
  left: 0;
  cursor: e-resize;
  cursor: col-resize;
  position: absolute;
  visibility: hidden;
  top: 0;
  height: 100px;
  overflow: hidden;
  border: 0 none;
  z-index: 7;
  background: #000000;
}
.dwrui-grid-hd-btn {
  width: 14px;
  height: 100%;
  position: absolute;
  right: 1px;
  top: 0px;
  z-index: 2;
  cursor: pointer;
  display: none;
  text-decoration: none;
  background: #EEEEEE;
  /*background: url("../images/default/grid/grid-hd-btn.gif") no-repeat scroll left center #C3DAF9;*/
}
.dwrui-grid-hd-custombtn {
  width: 14px;
  height: 100%;
  position: absolute;
  right: 1px;
  top: 0px;
  z-index: 2;
  cursor: pointer;
  display: none;
  text-decoration: none;
  background: #EEEEEE;
  display: none;
  /*background: url("../images/default/grid/grid-hd-btn.gif") no-repeat scroll left center #C3DAF9;*/
}
.dwrui-grid-hd-custombtn:before {
  content: "\e887";
  font-family: "icons";
  color: #60C0DD;
  /* display: inline-block;
  width: 1em;
  height: 1em;
  */
  font-size: 18px;
  /* margin-left: 10px; */
  cursor: pointer;
  vertical-align: top;
  text-decoration: none;
}
.dwrui-grid-hd-line {
  width: 4px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
  cursor: col-resize;
  display: none;
  background: #ebf3fd;
}
.dwrui-grid-hd-row .dwrui-grid-hd-over {
  /*border-left-color: #aaccf6;
  border-right-color: #aaccf6;*/
}
.dwrui-grid-hd-row .dwrui-grid-hd-over .dwrui-grid-hd-inner {
  /*background: url("../images/default/grid/grid-hrow-over.gif") repeat-x scroll left bottom;*/
}
.dwrui-grid-hd-over .dwrui-grid-hd-btn, .dwrui-grid-hd-over .dwrui-grid-hd-line {
  display: block;
}
.dwrui-grid-hd-btn:before {
  content: "\e8e9";
  font-family: "icons";
  color: #60C0DD;
  /* display: inline-block;
  width: 1em;
  height: 1em;
  */
  font-size: 18px;
  /* margin-left: 10px; */
  cursor: pointer;
  vertical-align: top;
  text-decoration: none;
}
.dwrui-grid-cell-inner .button {
  /*padding: 0 12px;*/
  text-decoration: none;
}
.dwrui-grid-empty {
  color: #999999;
  padding: 10px;
}
.dwrui-grid-empty-ico {
  width: 16px;
  height: 16px;
  /*background: url(../images/info.png) no-repeat;*/
  display: none;
}
.dwrui-grid-empty-text {
  padding: 10px;
}
