.dwrui-input {
  position: relative;
  display: inline-block;
  padding: 4px 11px;
  width: 100%;
  height: 32px;
  cursor: text;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0,0,0,0.65);
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  outline: none;
  webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}
.dwrui-input:hover {
  border-color: #40a9ff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(24,144,255,0.2);
  box-shadow: 0 0 0 2px rgba(24,144,255,0.2);
}
.dwrui-input:focus, .dwrui-input:active {
  border-color: #40a9ff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(24,144,255,0.2);
  box-shadow: 0 0 0 2px rgba(24,144,255,0.2);
}

.dwrui-input::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1
}
.dwrui-input::-moz-placeholder {
  color: #6c757d;
  opacity: 1
}
.dwrui-input:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1
}
.dwrui-input::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1
}
.dwrui-input::placeholder {
  color: #6c757d;
  opacity: 1
}
