.dwrui-menu {
  line-height: 46px;
  outline: none;
  margin: 0;
  padding-left: 0;
  list-style: none;
  //z-index: 1050;
  color: #666;
  background: #fff;
  //box-shadow: 0 1px 6px hsla(0,0%,39%,.2);
}
.dwrui-menu-submenu {
  position: relative;
}
.dwrui-menu-item-group-title {
  padding: 8px 16px;
  //color: rgba(0,0,0,0.45);
  font-size: 14px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.dwrui-menu-sub.dwrui-menu-inline .dwrui-menu-item-group-title {
  padding-left: 32px;
}
.dwrui-menu-item-group-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.dwrui-menu-vertical
.dwrui-menu-item,
.dwrui-menu-vertical-left .dwrui-menu-item,
.dwrui-menu-vertical-right .dwrui-menu-item,
.dwrui-menu-inline .dwrui-menu-item,
.dwrui-menu-vertical .dwrui-menu-submenu-title,
.dwrui-menu-vertical-left .dwrui-menu-submenu-title,
.dwrui-menu-vertical-right .dwrui-menu-submenu-title,
.dwrui-menu-inline .dwrui-menu-submenu-title {
  height: 40px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0 16px;
  overflow: hidden;
  line-height: 40px;
  text-overflow: ellipsis;
}
.dwrui-menu-item, .dwrui-menu-submenu, .dwrui-menu-submenu-title {
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.dwrui-menu-item, .dwrui-menu-submenu-title {
  margin: 0;
  padding: 0 20px;
  position: relative;
  display: block;
  white-space: nowrap;
  font-size: 14px;
}
.dwrui-menu-inline .dwrui-menu-item, .dwrui-menu-vertical .dwrui-menu-item {
  border-right: 1px solid #e9e9e9;
  margin-left: -1px;
  left: 1px;
  position: relative;
  z-index: 1;
}
.dwrui-menu-hidden {
  display: none;
}
.dwrui-menu-dark, .dwrui-menu-dark .dwrui-menu-sub {
  color: rgba(255, 255, 255, 0.65);
  background: #001529;
}
.dwrui-menu-dark .dwrui-menu-item:hover, .dwrui-menu-dark .dwrui-menu-item-active, .dwrui-menu-dark .dwrui-menu-submenu-active, .dwrui-menu-dark .dwrui-menu-submenu-open, .dwrui-menu-dark .dwrui-menu-submenu-selected, .dwrui-menu-dark .dwrui-menu-submenu-title:hover {
  color: #fff;
  background-color: transparent;
}
.dwrui-menu.dwrui-menu-dark .dwrui-menu-item-selected, .dwrui-menu-submenu-popup.dwrui-menu-dark .dwrui-menu-item-selected {
  background-color: #1890ff;
}
.dwrui-menu-item > a {
  display: block;
  color: rgba(255, 255, 255, 0.65);
  text-decoration: none;
}
.dwrui-menu-dark .dwrui-menu-item-selected > a, .dwrui-menu-dark .dwrui-menu-item-selected > a:hover {
  color: #fff;
}
.dwrui-menu-item .anticon, .dwrui-menu-submenu-title .anticon {
  min-width: 14px;
  margin-right: 10px;
  -webkit-transition: font-size 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: font-size 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: font-size 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.dwrui-select-dropdown {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-shadow: 0 1px 6px hsla(0,0%,39%,.2);
  border-radius: 6px;
  box-sizing: border-box;
  outline: none;
  overflow: hidden;
  font-size: 12px;
}
.dwrui-select-dropdown-menu {
  outline: none;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  max-height: 250px;
  overflow: auto;
}
.dwrui-select-dropdown-menu-item-group-list {
  margin: 0;
  padding: 0;
}

.dwrui-select-dropdown-menu-item-group-list>.dwrui-select-dropdown-menu-item {
  padding-left: 24px;
}

.dwrui-select-dropdown-menu-item-group-title {
  color: #999;
  line-height: 1.5;
  padding: 8px 15px;
}
.dwrui-select-dropdown-menu-item {
  position: relative;
  display: block;
  padding: 7px 15px;
  color: #666;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
}
.dwrui-select-dropdown-menu-item-active, .dwrui-select-dropdown-menu-item:hover {
  background-color: #eaf8fe;
}

.dwrui-select-dropdown-menu-item-disabled {
  color: #ccc;
  cursor: not-allowed;
}
.dwrui-select-dropdown-menu-item-disabled:hover {
  color: #ccc;
  background-color: #fff;
  cursor: not-allowed;
}
.dwrui-select-dropdown-menu-item-selected, .dwrui-select-dropdown-menu-item-selected:hover {
  background-color: #f7f7f7;
  color: #666;
}
.dwrui-select-dropdown-menu-item-divider {
  height: 1px;
  margin: 1px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  line-height: 0;
}
.dwrui-select-dropdown.ant-select-dropdown--multiple .dwrui-select-dropdown-menu-item:after {
  font-family: anticon;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E62E";
  color: transparent;
  display: inline-block;
  font-size: 12px;
  transform: scale(.83333333) rotate(0deg);
  transition: all .2s ease;
  zoom: 1;
  position: absolute;
  right: 15px;
  font-weight: 700;
  text-shadow: 0 0.1px 0, 0.1px 0 0,0 -0.1px 0,-0.1px 0;
}

