.dwrui-datePick-popup-inner {
  position: absolute;
}
.dwrui-datePick {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,0.65);
  font-size: 14px;
  list-style: none;
  position: relative;
  display: inline-block;
  outline: 0;
}
.dwrui-datePick-dropdown {
  /*width: 280px !important;*/
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  list-style: none;
  position: fixed;
  z-index: 1050;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 4px;
  border: 0;
  outline: none;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.dwrui-datePick-menu {
  text-align: center;
}
.dwrui-datePick-menu .dwrui-datePick-menu-header {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e8e8e8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dwrui-datePick-menu .dwrui-datePick-menu-center {
  padding: 8px 12px;
}
.dwrui-datePick-menu .dwrui-datePick-menu-footer {
  padding: 0 12px;
  line-height: 38px;
  border-top: 1px solid #e8e8e8;
}
.dwrui-datePick-menu th {
  padding: 5px;
  height: 24px;
  line-height: 24px;
  font-weight: normal;
}
.dwrui-datePick-menu td {
  cursor: pointer;
  padding: 5px;
}
.dwrui-datePick-menu .dwrui-datePick-menu-text {
  border-radius: 4px;
  width: 24px;
  height: 24px;
  line-height: 24px;
}
.dwrui-datePick-menu .pervMonth .dwrui-datePick-menu-text, .dwrui-datePick-menu .nextMonth .dwrui-datePick-menu-text {
  color: rgba(0,0,0,0.25);
}
.dwrui-datePick-menu .curMonth .dwrui-datePick-menu-text:hover {
  background: #bae7ff;
}
.dwrui-datePick-menu .selected .dwrui-datePick-menu-text {
  background: #bae7ff;
}
.dwrui-datePick-arrow {
  display: inline-block;
  font-style: normal;
  text-align: center;
  text-transform: none;
  position: absolute;
  top: 50%;
  right: 11px;
  margin-top: -7px;
  color: rgba(0,0,0,0.25);
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.dwrui-datePick-menu-header {
  position: relative;
}
.dwrui-datePick-header-btn {
  position: absolute;
  top: 0;
  display: inline-block;
  padding: 0 5px;
  color: rgba(0,0,0,0.45);
  font-size: 16px;
}
.dwrui-datePick-prev-year {
  left: 7px;
  height: 100%;
}
.dwrui-datePick-prev-month {
  left: 29px;
  height: 100%;
}
.dwrui-datePick-next-month {
  right: 29px;
  height: 100%;
}
.dwrui-datePick-next-year {
  right: 7px;
  height: 100%;
}
.dwrui-datePick-header-btn::before {
  position: relative;
  display: inline-block;
  content: '';
  width: 6px;
  height: 6px;
  vertical-align: middle;
  border: 0 solid #aaa;
  border-width: 1.5px 0 0 1.5px;
  border-radius: 1px;
  -webkit-transform: rotate(-45deg) scale(.8);
  -ms-transform: rotate(-45deg) scale(.8);
  transform: rotate(-45deg) scale(.8);
  -webkit-transition: all .3s;
  transition: all .3s;
}
.dwrui-datePick-prev-year::before {

}
.dwrui-datePick-prev-year::after {
  position: relative;
  left: -3px;
  display: inline-block;
  width: 6px;
  height: 6px;
  vertical-align: middle;
  border: 0 solid #aaa;
  border-width: 1.5px 0 0 1.5px;
  border-radius: 1px;
  -webkit-transform: rotate(-45deg) scale(.8);
  -ms-transform: rotate(-45deg) scale(.8);
  transform: rotate(-45deg) scale(.8);
  -webkit-transition: all .3s;
  transition: all .3s;
  content: '';
}
.dwrui-datePick-prev-month::before {

}
.dwrui-datePick-next-month::before {
  -webkit-transform: rotate(135deg) scale(.8);
  -ms-transform: rotate(135deg) scale(.8);
  transform: rotate(135deg) scale(.8);
}
.dwrui-datePick-next-year::before {
  position: relative;
  left: 3px;
  -webkit-transform: rotate(135deg) scale(.8);
  -ms-transform: rotate(135deg) scale(.8);
  transform: rotate(135deg) scale(.8);
}
.dwrui-datePick-next-year::after {
  display: inline-block;
  content: '';
  width: 6px;
  height: 6px;
  vertical-align: middle;
  border: 0 solid #aaa;
  border-width: 1.5px 0 0 1.5px;
  border-radius: 1px;
  -webkit-transform: rotate(135deg) scale(.8);
  -ms-transform: rotate(135deg) scale(.8);
  transform: rotate(135deg) scale(.8);
}
.dwrui-datePick-header-btn:hover::before, .dwrui-datePick-header-btn:hover::after {
  border-color: rgba(0,0,0,0.65);
}
.dwrui-datePick-menu-header a:hover {
  color: #40a9ff;
}
