.dldh-dropdown-menu {
  position: absolute;
  top: 0;
  left: 0;
}
.dldh-popup-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(55, 55, 55, 0.6);
  filter: alpha(opacity=50);
  z-index: 1050;
}
.dldh-popup-mask-hidden {
  display: none;
}
.dldh-popup {
  position: absolute;
  top: 0;
  left: 0;
}
.dldh-popup-inner {
  position: absolute;
}
.dldh-popup-contain {

}
.dldh-popup-contain-hidden {

}
.dldh-popup .dldh-popup-contain-open {

}
