.dwrui-message {
    width: 100%;
    position: fixed;
    top: 16px;
    left: 0;
    z-index: 1100;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    pointer-events: none;
}
.dwrui-message .dwrui-popup-inner {
    position: static;
}
.dwrui-message .dwrui-message-item {
    padding: 5px 16px;
    text-align: center;
}
.dwrui-message .dwrui-message-item-inner {
    display: inline-block;
    padding: 10px 16px;
    border-radius: 4px;
    background: #fff;
    -webkit-box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    pointer-events: all;
}
.dwrui-message .dwrui-message-content {

}
.dwrui-message .dwrui-message-icon {
    color: #faad14;
    float: left;
    margin-right: 10px;
}
.dwrui-message .dwrui-message-success {
    color: #52c41a;
}
.dwrui-message .dwrui-message-warning {
    color: #faad14;
}
.dwrui-message .dwrui-message-center {
    overflow: hidden;
    color: rgba(0,0,0,0.65);
    text-align: left;
    font-size: 12px;
    list-style: none;
    pointer-events: none;
}
